/*auto*/

/*
    var color = 'color:red';
    var width = '940px';
*/

body { padding:20px; margin:0; font:normal 12px Arial; color:#505050; }

.selected {
    background-color: #E0E0E0;
}

.dev-list-item {
    cursor: default;
}