<div data-bind="css: { selected: isSelected }, click: isSelected(true)">

    <div data-bind="if: diagnostic">
        $parent:
        <div data-bind="text: JSON.stringify(ko.toJS($parent))"></div>
        $parent.parent:
        <div data-bind="text: JSON.stringify(ko.toJS($parent.$parent))"></div>
        $data:
        <div data-bind="text: JSON.stringify(ko.toJS($data))"></div>
        $root:
        <div data-bind="text: JSON.stringify(ko.toJS($root))"></div>
    </div>

    <span>name: </span>
    <div data-bind="if: isEdited">
        <input data-bind="value: name, hasFocus: isEdited" />
    </div>
    <div data-bind="ifnot: isEdited">
        <span data-bind="text: name"></span>
        <span data-bind="if: isModified">&nbsp; *</span>
        <span data-bind="if: isNew">&nbsp; NEW!</span>
    </div>

</div>